@CHARSET "UTF-8";
/*header*/
.mainHead {
	max-height: 500px;
	background-color: #ffffff;
}
.indexImg {
	width: 100%;
	max-width: 250px;
	display: block;
    margin: 50px auto;
}
/*nav*/
.menu-font {
	font-size: 15px;
}
/*section*/
.mainSection {
	height: 500px;
	background-color: yellow;
}
.mainArticle-bookList {
	/* height: 600px; */
	/* background-color: #E6E6E6; */
	margin: 50px 0;
	/* border-bottom: 1px solid #BDBDBD; */
	text-align: center;	
}

.mainArticle-csInfo {
}
.boardlegend{
	text-align: center;
}
.mainArticle-csInfo {
	height: 200px;
	background-color: #ffffff;
	border-bottom: 1px solid #BDBDBD;
	text-align: center;
	display : inline;
	
}
.mainArticle-csInfo img{
	width:150px;
}
.mainArticle-csInfo table{
	margin:auto;
	text-align: left;
}
.mainArticle-bookList p {
	text-align: center;
	font-size:30px;
}
.mainArticle-bookTable {
	width: 70%;
	margin: 0 auto;
/* 	margin-right:auto; */
/* 	text-align: center; */
/* 	vertical-align:middle; */
	
}

.mainArticle-bookList ul li {
	list-style-type:none;
}


.bookImg-main{
	width: 150px;
}

.boardInsertTable table{
	margin:auto;
}


.mainArticle-adminNewBook{
	border-bottom: 1px solid #BDBDBD;
	text-align : center;
	
}
.mainArticle-NewBookMana table{
	margin : auto;
}
.mainArticle-adminBook{
	background-color: #E6E6E6;
	border-bottom: 1px solid #BDBDBD;
	text-align : center;
}
.mainArticle-adminBook table{
	margin : auto;
}
.insertbook{
	width:100%;
}

/*footer*/
.mainFooter {
	height: 150px;
	background-color: #ffffff;
	border-top: 1px solid #BDBDBD;
	text-align: center;
}

.csImg {
	width: 150px;
}
.footer-cs-table {
	width: 70%;
	margin: 0 auto;
}

.footer-cs-table td {
	text-align: left;
}
/*memberUpdate*/
.memberPage-form {
	width: 500px;
	margin: 0 auto;
}
/*button*/
.button-form {
	width: 100%;
	margin: 0 auto;
}
.button-align {
	text-align: center;
}
/*productList*/
.productTable td{
	padding: 10px;
}
.productImg {
	width: 150px;
	height: 100px;
	margin: 10px;
}

/*adminBoard*/
.column {
	float: center;
	padding: 15px;
	margin:auto;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.menu {
	width: 100%;
}

.content {
	width: 75%;
}

.menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu li {
	padding: 8px;
	margin-bottom: 8px;
	color: #ffffff;
}
/*board aside*/
.mainAside-board{
	margin-bottom: 0px;
/* 	border: 1px solid #CCC; */
	float: left;
	width: 200px;
	height:300px;	
	padding-top:15px;
	padding-left:30px;
	padding-right:10px;
	margin-top:50px;
	
}
.btn-group-vertical{
	padding: 8px;
	margin-bottom: 8px;
	vartical-align: middle;
}
.mainboard{
	width:80%;
	margin:auto;
}
.mainArticle-booklist{
	margin-botto: 0px;
}